@import 'themes';

$sizes: ("title": 64px, "subtitle": 42px, "headerTitle": 38px, "cardTitle": 30px, "h1": 40px, "h2": 32px, "h3": 26px,
  "h4": 20px, "h5": 16px, "h6": 14px, "p1": 12px, "p2": 10px);

$colors: "text", "textAlternative", "primary", "primaryAlternative", "secondary", "secondaryAlternative",
"terciary", "textDecorate", "danger", "success";
$weights: ("b": bold, "r": regular, "l": light);


@each $name, $size in $sizes {
  @each $weight_name, $weight_value in $weights {
    @each $color in $colors {
      .#{$name}_#{$weight_name}_#{$color} {
        font-size: $size;
        font-weight: $weight_value;

        @include give-theme() {
          color: get-theme-key($color)
        }
      }
    }
  }
}
