@import '../../mixins';
@import '../../themes';


.listViewer_mainWrapper {
  @include flex($dir: column);
  padding: 25px;
  gap: 20px;

  @media (max-width: 550px) {
    padding: 20px 5px;

    .listCardContainer {
      padding: 20px 5px 30px;
    }
  }

  @media (max-width: 750px) {
    .listCardContainer_grid {
      margin-right: 200px;
    }
  }
}

.listViewer_mainWrapper_title {
  @extend .h3_b_secondary;
  padding-left: 10px;
}

.listCardContainer {
  @include flex($dir: column);
  padding: 20px 20px 30px;
  gap: 10px;

  border-radius: 10px;

  @include give-theme() {
    background-color: get-theme-key('backgroundFourthLayer');
  }
}

.listCardContainer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 160px));
  flex: 1;
  gap: 10px;
}


.listCommentsViewer_mainWrapper {
  @include flex($dir: column);
  padding: 30px 10px;
  gap: 20px;
}

.listCommentsCardsContainer {
  @extend .listCardContainer;
  padding: 15px;
}


